h1 , p {
    text-align: center;
}

.gallery{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.gallery img{
    width: 100px;
    cursor: pointer;
}
#mainImage{
    display: block;
    margin: 20px auto;
    width: 300px;
}